<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{css/index.css}" rel="stylesheet">
    <link th:href="@{css/form.css}" rel="stylesheet">
    <title th:text="#{lang.changelang}"></title>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
</script>
<script type="text/javascript">
    $(document).ready(function() {
        $("#locales").change(function () {
            var selectedOption = $('#locales').val();
            if (selectedOption != ''){
                window.location.replace('?lang=' + selectedOption);
            }
        });
    });
</script>
<body>
<div class="sidebar">
    <a class="active" th:href="@{/}"th:text="#{main}"></a>
</div>
<div class="content">
    <span th:text="#{lang.change}"></span>:
    <select id="locales">
        <option value=""></option>
        <option value="ru" th:text="#{lang.ru}"></option>
        <option value="eng" th:text="#{lang.eng}"></option>
    </select>
</div>
</body>
</html>