<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{css/index.css}" rel="stylesheet">
    <link th:href="@{css/form.css}" rel="stylesheet">
    <title th:text="#{createdirectory.create}"></title>
</head>
<body>
<div class="sidebar">
    <a class="active" th:href="@{/}" th:text="#{main}"></a>
</div>
<div class="content">
    <form action="#" th:action="@{/createFolder}" th:object="${createFolderData}" method="post">
        <label th:text="#{directoryname}"></label>
        <input type="text" th:field="*{folderName}"/>
        <input type="hidden" th:field="*{currentPath}" th:value="${#request.getParameter('name')}"/>
        <input type="submit" th:value="#{create}">
    </form>
</div>
</body>
</html>