<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{css/index.css}" rel="stylesheet">
    <link th:href="@{css/form.css}" rel="stylesheet">
    <title th:text="#{createfile.create}"></title>
</head>
<body>
<div class="sidebar">
    <a class="active" th:href="@{/}"th:text="#{main}"></a>
</div>
<div class="content">
    <form action="#" th:action="@{/createFile(name = ${#request.getParameter('name')})}"  method="post">
        <label th:text="#{filename}"></label>
        <input type="text" name="fileName"/>
        <input type="submit" th:value="#{create}">
    </form>
</div>
</body>
</html>