<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/index.css}" rel="stylesheet">
    <link th:href="@{/css/form.css}" rel="stylesheet">
    <title th:text="#{notes.editor}"></title>
</head>
<body>
<div class="sidebar">
    <a class="active" th:href="@{/}"th:text="#{main}"></a>
</div>
<div class="content">
      <form action="#" th:action="@{/notes/edit(noteId = ${#request.getParameter('noteId')})}" th:object="${editNoteData}" method="post">
        <label th:text="#{notes.editor}"></label>
        <textarea name="txtdocument" rows="20" cols="80" th:field = "*{text}"></textarea>
        <input type="hidden" th:field="*{idNote}" />
        <input type="submit" th:value="#{save}">
    </form>

</div>
</body>
</html>