<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{index.filemanager}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/css/index.css}" rel="stylesheet">
</head>
<body>

<div class="sidebar">
    <a class="active" th:href="@{/}" th:text="#{index.main}"></a>
    <a th:href="@{/createFolder(name=${#request.getParameter('name')})}" th:text="#{index.createfolder}"></a>
    <a th:href="@{/uploadFile(name=${#request.getParameter('name')})}" th:text="#{index.uploadfile}"></a>
    <a th:href="@{/createFile(name=${#request.getParameter('name')})}" th:text="#{index.createfile}"></a>
    <a th:href="@{/changeLang}" th:text="#{index.changelang}"></a>
</div>

<div class="content">
    <h3 th:text="#{index.directoryfiles}"></h3>
    <table>
        <tr>
            <td>
                <a th:href="@{/backClick(name=${#request.getParameter('name')})}"><img th:src="@{/icons/up.png}">...</a>
            </td>
        </tr>
        <tr th:each="file : ${files}">
            <td>
                <img th:src="${file.getIconPath()}" alt="-">
                <a th:href="@{/{baseUrl}(baseUrl = ${file.isDirectory()}? 'fileClick' : 'downloadFile', name=${file.path()})}"
                   th:text="${file.resourceName()}">
                </a>
            </td>
            <td>
                <a th:href="@{/delete/(name=${file.path()})}"><img th:src="@{/icons/delete.png}"></a>
                <a th:href="@{/notes(name=${file.path()})}"><img th:src="@{/icons/notes.png}"></a>
                <a th:href="@{/editText(name=${file.path()})}" th:if="${file.isTxt()}"><img th:src="@{/icons/edit.png}"></a>
            </td>
        </tr>
    </table>
</div>

</body>
</html>