<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{css/index.css}" rel="stylesheet">
    <link th:href="@{css/form.css}" rel="stylesheet">
    <title th:text="#{notes.notes}"></title>
</head>
<body>
<div class="sidebar">
    <a class="active" th:href="@{/}"th:text="#{main}"></a>
</div>
<div class="content">

    <form action="#" th:action="@{/notes(name = ${#request.getParameter('name')})}"  method="post">
        <h3 th:text="#{notes.create}"></h3>
        <input type="text" name="noteText"/>
        <input type="submit" th:value="#{create}">
    </form>

    <h3 th:text="#{notes.notes}"></h3>
    <table>
        <tr th:each="note: ${notes}">
            <td >
                <p th:text="${note.toString()}"></p>
                <a th:href="@{/notes/versions(noteId = ${note.getId()})}" th:text="#{notes.version}"></a>
                <a th:href="@{/notes/edit(noteId = ${note.getId()})}" th:text="#{notes.edit}"></a>

            </td>
        </tr>
    </table>
</div>
</body>
</html>