<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{css/index.css}" rel="stylesheet">
    <link th:href="@{css/form.css}" rel="stylesheet">
    <title th:text="#{uploadfile.upload}"></title>
</head>
<body>
<div class="sidebar">
    <a class="active" th:href="@{/}" th:text="#{main}"></a>
</div>
<div class="content">
    <form method="post"  enctype="multipart/form-data" th:action="@{/uploadFile(name=${#request.getParameter('name')})}">
        <input type="file" name="file" >
        <button type="submit" th:text="#{download}"></button>
    </form>
</div>
</body>
</html>