<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/index.css}" rel="stylesheet">
    <link th:href="@{/css/form.css}" rel="stylesheet">
    <title th:text="#{versions.versions}"></title>
</head>
<body>
<div class="sidebar">
    <a class="active" th:href="@{/}" th:text="#{main}"></a>
</div>
<div class="content">
    <h3 th:text="#{versions.versions}"></h3>
    <table>
        <tr th:each="version: ${versions}">
            <p th:text="${version.toString()}"></p>
        </tr>
    </table>
</div>
</body>
</html>